form {
  width: 500px;
  margin: 50px auto;
}

div:not(.con) {
  width: 30%;
  float: left;
  background: #f00;
  padding: 23px 16px;
  height: 114px;
  color: #fff;
}
.con div:not(:last-of-type) {
  margin-right: 5%;
}
.con div:first-of-type {
  background-color: cornflowerblue;
}
.con div:nth-of-type(2) {
  background-color: navajowhite;
}
.con div:nth-of-type(3) {
  background-color: orangered;
}
.con {
  width: 500px;
  margin: auto;
  float: none;
  background: transparent;
}
